/* Font */
@font-face {
	font-family : 'police_raleway';
	src: url(/font/Raleway-VariableFont_wght.ttf),
		 url(/font/Raleway-Italic-VariableFont_wght.ttf);	 
}

body
{
  font-family: 'police_raleway';
  margin-left : 1em;
}

/* Header */

header
{
	margin-top: 50px;
}
header nav
{
	display: flex;
	justify-content: flex-end;
}

header a
{
	margin-right: 65px;
	text-decoration: none;
	color: black;
}

header nav a:hover
{
	text-decoration: overline 2px;
	color: #0065FC;
}

.logo_reservia
{
	width: 5%;
}

header h2
{
	font-size: 17px;
	font-style: unset;
	font-weight: normal;
}

header h1
{
	font-size: 20px;
	font-weight: bold;
}

/* Formulaire */

form
{
	display: flex;
	align-items: center;
}

.toto
{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: solid 0.5px;
	height: 34px;
	width: 33px;
	padding: auto;
	border-radius: 10px 0px 0px 10px;
	background-color: #F2F2F2;
	border-color: #F2F2F2;
}

.champ
{
	width: 175px;
	height: 35px;
	border: solid 0.5px;
	border-top-color: #F2F2F2;
	border-bottom-color: #F2F2F2;
	border-right-color: white;
	border-left-color: white;
	font-family: 'police_raileway';
	font-weight: bold;
	padding-left: 5px;
}

.bouton
{
	border: solid 0.5px white;
	border-radius: 0px 10px 10px 0px;
	background-color: #0065FC;
	font-family: 'police_raileway';
	color: white;
	height: 36px;
	padding: auto;
	width: 100px;
}
/* Filtres */

.filtres_logo
{
  display: flex;
  background-color: #DEEBFF;
	border: solid 5px #DEEBFF;
	border-radius: 20px;
	height: 10%;
	color:#0065FC;
	margin-right: 7px;
	text-align: center;
}

aside
{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	
}

.titre_filtres
{
	font-size: 20px;
	font-style: bold;
  padding-right: 1%;
}



.filtres p:hover
{
	background-color: #DEEBFF;
}

.fa-child
{
	height: 16px;
	width: 15px;
}

.bouton_hébergements
{
	color: #0065FC;
}

.inscription
{
	color: #0065FC;
}


/* Quantité de logements disponibles dans la ville*/

.disponibilites
{
	display: flex;
	align-items: center;
}

.disponibilites i
{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	color: #0065FC;
	border: solid 2px #F2F2F2;
	border-radius: 20px;
	padding: 10px;
	height: 2px;
	width: 2px;
	margin-right: 10px;
}

/* Bloc hebergements et populaires */

.bloc_hebergements_populaires
{
  display: flex;
}

/* Section Hébergements */


.hebergements_et_nomdeville
{
	display: flex;
  flex-direction: column;
	background-color: #F2F2F2;
  width: 50%;
  height: 35em;
  border-radius: 1em 1em 1em 1em;
  padding-left: 1.5em;
  margin-left: 2em;
}

.toutes_les_cartes img
{
  object-fit: cover;
	height: 50%;
  width: 97%;
  border-radius: 1.5em 1.5em 0em 0em;
  margin-top: 0.2em; /* Centre l'image au milieu du bloc supp */
  margin-left: 0.2em;
  margin-right: 0.1em;
}

.carte_hebergements /* Fond blanc contenant les img + texte */
{
  display: flex;
  flex-direction: column;
	background-color: white;
	height: 12em;
	width: 16em;
  border-radius: 1.8em;
  margin: auto; /* Aligne chaque card sur l'axe verticale */ 
  margin-bottom: 1.5em;
  margin-left: -0.4em;
}

.titre_de_la_chambre h2
{
	font-size: 0.8em;
  padding-left: 1em;
  font-style: bold;
  margin-bottom: 0em;
}

.hebergements_et_nomdeville p
{
  font-size: 0.8em;
  padding-left: 1em;
  margin-bottom: 0.5em;
  margin-top: 0.3em;
}

.etoiles
{
  height: 0.5em;
  width: 50%;
  color: #0065FC;
  padding-left: 1.5em;
  font-size: 0.6em;
  margin-bottom: 0em;
}

.disabled
{
  color: grey;
}

.hebergements_et_nomdeville a
{
  text-decoration: none;
  color: black;
}

.toutes_les_cartes
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.amina img /* Carte pour hôtel amina dimension photo spécifique */
{
    object-fit: cover;
    height: 24%;
    border-radius: 1.5em 1.5em 0em 0em;
    margin-top: 0.2em; /* Centre l'image au milieu du bloc supp */
    margin-left: 0.2em;
    margin-right: 0.1em;
    margin-bottom: 0em;
}

.la_mer img /* Carte pour hôtel la mer dimension spécifique */
{
  object-fit: cover;
  height: 39%;
  width: 97%;
  border-radius: 1.5em 1.5em 0em 0em;
  margin-top: 0.2em; /* Centre l'image au milieu du bloc supp */
  margin-left: 0.2em;
  margin-right: 0.1em;
  margin-bottom: 0em;
}

/* Les plus populaires */

.les_populaires
{
  align-content: space-between;
	background-color: #F2F2F2;
  width: 22em;
  height: 35em;
  border-radius: 1em 1em 1em 1em;
  padding-left: 1.5em;
  margin-left: 1.5em;
}

.titre_populaires
{
  font-weight: 700;
  margin-right: 2em;
  margin-top: 2em;
}

.fa-chart-line
{
  color: black;
  padding-left: 2.5em;
  margin-top: 1.8em;
}

.carte_populaires
{
  margin: 0.7em;
}

.carte_populaires a /* Fond blanc contenant les img + texte */
{
  display: flex;
  background-color: white;
	height: 8em;
  width: 20em;
  border-radius: 1.8em;
  margin-bottom: 1.5em;
  margin-left: -0.4em;
  text-decoration: none;
}

.carte_populaires img
{  
  width: 8em;
  border-radius: 1.8em 0em 0em 1.8em;
  height: 7.5em;
  object-fit: cover;
  padding-top: 0.3em;
  padding-left: 0.3em;
}

.descriptif_populaires
{
  display: flex;
  flex-direction: column;
	font-size: 0.7em;
  padding-left: 1em;
  font-style: bold;
  margin-bottom: 0em;
  color: black;
}

.descriptif_populaires p
{
  font-size: 1.2em;
  margin-bottom: 2.8em;
  margin-top: -0.7em;
}

.etoiles_populaires
{
  height: 0.5em;
  color: #0065FC;
  font-size: 1em;
}

/* Activités à Marseille */

.activites_marseille
{
  display: flex;
}
.carte_port_calanques
{
  background-color: white;
  height: 40em;
  width: 25em;
  border-radius: 1.5em;
  margin-bottom: 3em;
  margin-left: 2em;
  box-shadow: 0px 5px 5px #F2F2F2;
}

.carte_port_calanques img
{
  height: 35em;
  width: 25em;
  object-fit: cover;
  border-radius: 1.5em 1.5em 0em 0em;
}

.nom_activites
{
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  margin-left: 0.7em;
}

.lien_activites
{
  text-decoration: none;
}

.titre_activites
{
  margin-left: 2em;
  font-size: 1.3em;
  color: black;
}

.carte_pomegues
{
  background-color: white;
  height: 21em;
  width: 25em;
  border-radius: 1.5em;
  margin-bottom: 3em;
  margin-left: 2em;
  box-shadow: 0px 5px 5px #F2F2F2;
}

.carte_pomegues img
{
  height: 17em;
  width: 25em;
  object-fit: cover;
  border-radius: 1.5em 1.5em 0em 0em;
}

/* Pied de page */

footer
{
  width: 100%;
	height: 11em;
	display: flex;
	justify-content: space-between;
	background-color: #F2F2F2;
}

footer section
{
	width: 33.33%;
}

.a_propos a
{
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: black;
	padding-bottom: 0.6em;
}

.marge
{
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
}

.nos_hebergements a
{
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: black;
	padding-bottom: 0.6em;
}

.assistance a
{
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: black;
	padding-bottom: 0.6em;
}