/* Font */
@font-face {
	font-family : 'raleway';
	src: url(/font/Raleway-VariableFont_wght.ttf),
		 url(/font/Raleway-Italic-VariableFont_wght.ttf);	 
}

body
{
  font-family: 'raleway';
  margin-left: 2em;
}

/* Menu de navigation */

.menu_navigation
{
	display: flex;
  justify-content: flex-end;
  width: 92em;
}

.menu_navigation a
{
	margin-right: 4em;
	text-decoration: none;
  margin-top: 2em;
}

.menu_navigation a:hover
{
	text-decoration: overline 2px #0065FC;
}

.bouton_hébergements
{
	color: #0065FC;
}

.inscription
{
	color: #0065FC;
}

/* Header */

header
{
  margin-top: 2em;
  margin-left: 3em;
}

.logo_reservia
{
	width: 5%;
}

header h2
{
	font-size: 1em;
  font-weight: normal;
}

header h1
{
	font-size: 1.2em;
	font-weight: bold;
}

/* Formulaire */

.formulaire_de_recherche
{
  margin-left: 3em;
}

form
{
	display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo_recherche
{
  display: flex;
  justify-content: center;
  align-items: center;
	border: solid 0.5px;
	height: 2em;
	width: 2em;
	border-radius: 10px 0px 0px 10px;
	background-color: #F2F2F2;
  border-color: #F2F2F2;
}

.champ
{
	width: 13.5em;
	height: 2.47em;
	border: solid 1px;
	border-top-color: #F2F2F2;
	border-bottom-color: #F2F2F2;
	border-right-color: white;
  border-left-color: white;
  font-family: 'raleway', sans-serif;
	font-weight: bold;
	padding-left: 0.5em;
}

.bouton_rechercher
{
	border: 0px white;
	border-radius: 0em 0.8em 0.8em 0em;
	background-color: #0065FC;
	font-family: 'raleway', sans-serif;
	color: white;
	height: 2.45em;
  width: 7em;
  font-weight: bold;
}

/* Filtres */

.filtres
{
  display: flex;
  align-items: center;
  margin-left: 3em;
}
.titre_filtres
{
	font-size: 1.5em;
  padding-right: 0.7em;
}

.filtres_bouton
{
  display: flex;
  align-items: center;
  border: solid 2px #DEEBFF;
  border-radius: 2em;
  height: 2em;
  width: 10em;
  margin-right: 1em;
  text-align: center;
}

.background
{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065FC;
  background-color: #DEEBFF;
  border-radius: 2em;
  height: 2em;
  width: 2.1em;
  margin-right: 0.5em;
}

.animaux
{
  width: 12em;
}

.familial
{
  width: 7em;
}

.romantique
{
  width: 9em;
}

.filtres_bouton:hover
{
	background-color: #DEEBFF;
}

/* Quantité de logements disponibles dans la ville*/

.disponibilites
{
	display: flex;
  align-items: center;
  margin-left: 3em;
}

.fa-info
{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	color: #0065FC;
	border: solid 2px #F2F2F2;
	border-radius: 20px;
	padding: 0.8em;
	height: 0.4em;
	width: 0.4em;
	margin-right: 1em;
}

.titre_disponibilites
{
  font-size: 1.3em;
  font-weight: normal;
}

/* Bloc hebergements et populaires */

.bloc_hebergements_populaires
{
  display: flex;
  margin-left: 3em;
  width: 87em;
}

/* Section Hébergements */

.hebergements_et_nomdeville
{
	display: flex;
  flex-direction: column;
	background-color: #F2F2F2;
  height: 35em;
  border-radius: 1em 1em 1em 1em;
  padding-left: 1.5em;

}

.toutes_les_cartes img
{
  object-fit: cover;
	height: 50%;
  width: 97%;
  border-radius: 1.5em 1.5em 0em 0em;
  margin-top: 0.2em; /* Centre l'image au milieu du bloc supp */
  margin-left: 0.2em;
  margin-right: 0.1em;
}

.carte_hebergements /* Fond blanc contenant les img + texte */
{
  display: flex;
  flex-direction: column;
	background-color: white;
	height: 12em;
	width: 16em;
  border-radius: 1.8em;
  margin: auto; /* Aligne chaque card sur l'axe verticale */ 
  margin-bottom: 1.5em;
  margin-left: -0.4em;
}

.titre_de_la_chambre h2
{
	font-size: 0.8em;
  padding-left: 1em;
  margin-bottom: 0em;
}

.hebergements_et_nomdeville p
{
  font-size: 0.8em;
  padding-left: 1em;
  margin-bottom: 0.5em;
  margin-top: 0.3em;
}

.etoiles
{
  height: 0.5em;
  width: 50%;
  color: #0065FC;
  padding-left: 1.5em;
  font-size: 0.6em;
  margin-bottom: 0em;
}

.disabled
{
  color: grey;
}

.hebergements_et_nomdeville a
{
  text-decoration: none;
  color: black;
}

.toutes_les_cartes
{
  display: flex;
  flex-wrap: wrap;
}

.amina img /* Carte pour hôtel amina dimension photo spécifique */
{
    object-fit: cover;
    height: 26.5%;
    border-radius: 1.5em 1.5em 0em 0em;
    margin-top: 0.2em; /* Centre l'image au milieu du bloc supp */
    margin-left: 0.2em;
    margin-right: 0.1em;
    margin-bottom: 0em;
}

.la_mer img /* Carte pour hôtel la mer dimension spécifique */
{
  object-fit: cover;
  height: 39%;
  width: 97%;
  border-radius: 1.5em 1.5em 0em 0em;
  margin-top: 0.2em; /* Centre l'image au milieu du bloc supp */
  margin-left: 0.2em;
  margin-right: 0.1em;
  margin-bottom: 0em;
}

.le_panier img
{
  height: 57%;
  width: 97%;
}

.bouton_afficher
{
  font-weight: bold;
  font-size: 1.1em;
}

/* Les plus populaires */

.les_populaires
{
  align-content: space-between;
	background-color: #F2F2F2;
  width: 25em;
  height: 35em;
  border-radius: 1em 1em 1em 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;;
  margin-left: 1.5em;
}

.titre_populaires
{
  font-size: 1.2em;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  margin-right: 1em;
  margin-top: 1em;
}


.carte_populaires a /* Fond blanc contenant les img + texte */
{
  display: flex;
  background-color: white;
	height: 8em;
  width: 19em;
  border-radius: 1.8em;
  margin-bottom: 2.5em;
  margin-left: -0.4em;
  text-decoration: none;
}

.carte_populaires img
{  
  width: 8em;
  border-radius: 1.8em 0em 0em 1.8em;
  height: 7.5em;
  object-fit: cover;
  padding-top: 0.3em;
  padding-left: 0.3em;
}

.descriptif_populaires
{
	font-size: 0.7em;
  padding-left: 1em;
  margin-bottom: 0em;
  color: black;
}

.descriptif_populaires p
{
  font-size: 1.2em;
  margin-bottom: 2em;
  margin-top: -0.7em;
}

.etoiles_populaires
{
  height: 0.5em;
  color: #0065FC;
  font-size: 1em;
}

/* Activités à Marseille */

.titre_activites
{
  margin-left: 3em;
  font-size: 1.3em;
  color: black;
}

.activites_marseille
{
  display: flex;
  margin-left: 3em;
  width: 85em;
}

.carte_vieux_port
{
  background-color: white;
  height: 34em;
  width: 25em;
  border-radius: 1.5em;
  margin-bottom: 3em;
  box-shadow: 0px 5px 5px #F2F2F2;
}

.carte_vieux_port img
{
  height: 30em;
  width: 22em;
  object-fit: cover;
  border-radius: 1.5em 1.5em 0em 0em;
}

.lien_activites
{
  text-decoration: none;
}

.nom_activites
{
  color: black;
  font-size: 1.3em;
  margin-left: 0.7em;
  font-weight: bold;
}

.carte_pomegues
{
  background-color: white;
  height: 15em;
  width: 19em;
  border-radius: 1.5em;
  margin-bottom: 3em;
  margin-left: 2em;
  box-shadow: 0px 5px 5px #F2F2F2;
}

.carte_pomegues img
{
  height: 11em;
  width: 19em;
  object-fit: cover;
  border-radius: 1.5em 1.5em 0em 0em;
}

.carte_frioul
{
  background-color: white;
  height: 14em;
  width: 19em;
  border-radius: 1.5em;
  margin-left: 2em;
  margin-top: 5em;
  box-shadow: 0px 5px 5px #F2F2F2; 
}

.carte_frioul img
{
  height: 10em;
  width: 19em;
  object-fit: cover;
  border-radius: 1.5em 1.5em 0em 0em;
}

.carte_calanques
{
  background-color: white;
  height: 34em;
  width: 21em;
  border-radius: 1.5em;
  margin-bottom: 3em;
  margin-left: 2em;
  box-shadow: 0px 5px 5px #F2F2F2; 
}

.carte_calanques img
{
  height: 30em;
  width: 21em;
  object-fit: cover;
  border-radius: 1.5em 1.5em 0em 0em;
}

.carte_notre_dame
{
  background-color: white;
  height: 13em;
  width: 19em;
  border-radius: 1.5em;
  margin-bottom: 3em;
  margin-left: 2em;
  box-shadow: 0px 5px 5px #F2F2F2;
}

.carte_notre_dame img
{
  height: 9em;
  width: 19em;
  object-fit: cover;
  border-radius: 1.5em 1.5em 0em 0em;
}

.carte_longchamp
{
  background-color: white;
  height: 14em;
  width: 19em;
  border-radius: 1.5em;
  margin-bottom: 3em;
  margin-left: 2em;
  margin-top: 7em;
  box-shadow: 0px 5px 5px #F2F2F2;
}

.carte_longchamp img
{
  height: 10em;
  width: 19em;
  object-fit: cover;
  border-radius: 1.5em 1.5em 0em 0em;
}

/* Pied de page */

footer
{
  width: 82%;
	height: 11em;
	display: flex;
	justify-content: space-between;
	background-color: #F2F2F2;
}

footer section
{
	width: 33.33%;
}

.a_propos a
{
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: black;
	padding-bottom: 0.6em;
}

.marge
{
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 1em;
}

.nos_hebergements a
{
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: black;
	padding-bottom: 0.6em;
}

.assistance a
{
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: black;
	padding-bottom: 0.6em;
}

/* Début de la partie responsive */

@media all and (max-width: 480px)
{
  .hebergements_et_nomdeville
  {
    background-color: white;
  }
}